{% extends 'base.html' %}

{% block header %}
<div class="header">
	<div class="container">
		<!-- Start Section title -->
		<!-- End Section title -->
		<div class="row">
			<div class="col-md-10">
				<div class="col-lg-6 m-auto text-center">
					<div class="section-title-wrap">
						<h2 class="mb-0"></h2>
					</div>
				</div>
				<!--  <hr class="my-5"> -->
				<!-- form complex example -->
				<div class="card card-outline-secondary">
					<div class="card-header text-center">
						<h3 class="mb-0">Belfast Oil Monitor</h3>
					</div>
					<div class="card-body text-center">
						<!--1st row-->
						<div class="row ">
							<!--select county-->
							<div class="col-sm-6"></div>
							<!--filter by-->
							<div class="col-sm-6"></div>
						</div>
					</div>
					<div class="col-sm-6"></div>
					<!--display price-->
					<div id="autoUpdate" class="autoUpdate"></div>
					<!--END - display price-->
					<div class="card-footer text-center"></div>
				</div>
				<!--/card-->
			</div>
			<!--/card outline-->
		</div>
		<!--/col-->
	</div>
	<!--/row-->
</div>
<!--/container-->
{% endblock %}

{% block page_content %}
<div class="container">
		<div class="row">
			<div class="col-md-10">
    {% for tab in table %}
    {{ tab | safe }}
                {%  endfor %}
     </div><!--/col-->
  </div><!--/row-->
</div><!--/container-->
{% endblock %}
